# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
hashCodeProj/.idea/**/workspace.xml
hashCodeProj/.idea/**/tasks.xml
hashCodeProj/.idea/dictionaries

# Sensitive or high-churn files:
hashCodeProj/.idea/**/dataSources/
hashCodeProj/.idea/**/dataSources.ids
hashCodeProj/.idea/**/dataSources.local.xml
hashCodeProj/.idea/**/sqlDataSources.xml
hashCodeProj/.idea/**/dynamic.xml
hashCodeProj/.idea/**/uiDesigner.xml

# Gradle:
hashCodeProj/.idea/**/gradle.xml
hashCodeProj/.idea/**/libraries

# CMake
hashCodeProj/cmake-build-debug/
hashCodeProj/cmake-build-release/

# Mongo Explorer plugin:
hashCodeProj/.idea/**/mongoSettings.xml

## File-based project format:
hashCodeProj/*.iws

## Plugin-specific files:

# IntelliJ
hashCodeProj/out/

# mpeltonen/sbt-idea plugin
hashCodeProj/.idea_modules/

# JIRA plugin
hashCodeProj/atlassian-ide-plugin.xml

# Cursive Clojure plugin
hashCodeProj/.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
hashCodeProj/com_crashlytics_export_strings.xml
hashCodeProj/crashlytics.properties
hashCodeProj/crashlytics-build.properties
hashCodeProj/fabric.properties